<div class="flex flex-col justify-center items-center w-full bg-gray-200">
  <div class="p-4 bg-blue-300 w-2/3">
    <canvas
      #canvasElement
      class="border-2 border-gray-400 rounded-lg w-full bg-red-200"
    ></canvas>
  </div>
  <div class="flex gap-3">
    <button
      class="bg-gray-200 hover:bg-gray-300 rounded-lg px-2 py-1 mt-2"
      (click)="downloadSVG()"
    >
      Svg
    </button>
    <button
      class="bg-gray-200 hover:bg-gray-300 rounded-lg px-2 py-1 mt-2"
      (click)="downloadPNG()"
    >
      Png
    </button>
    <button
      class="bg-gray-200 hover:bg-gray-300 rounded-lg px-2 py-1 mt-2"
      (click)="undo()"
    >
      Undo
    </button>
    <button
      class="bg-gray-200 hover:bg-gray-300 rounded-lg px-2 py-1 mt-2"
      (click)="clear()"
    >
      Clear
    </button>
  </div>
</div>
